@import url('./base.css');

body {
    width: 100vw;
    height: auto;
    min-height: 100dvh;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    font-family: var(--md-ref-typeface-plain), system-ui;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}
