.dark-high-contrast {
  --md-sys-color-primary: rgb(222 243 255);
  --md-sys-color-surface-tint: rgb(139 208 239);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(135 204 235);
  --md-sys-color-on-primary-container: rgb(0 13 20);
  --md-sys-color-secondary: rgb(222 243 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(176 198 210);
  --md-sys-color-on-secondary-container: rgb(0 13 20);
  --md-sys-color-tertiary: rgb(242 238 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(194 190 230);
  --md-sys-color-on-tertiary-container: rgb(9 7 37);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 241 246);
  --md-sys-color-outline-variant: rgb(188 196 201);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 78 102);
  --md-sys-color-primary-fixed: rgb(190 233 255);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(139 208 239);
  --md-sys-color-on-primary-fixed-variant: rgb(0 19 28);
  --md-sys-color-secondary-fixed: rgb(208 230 242);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(180 202 214);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 19 28);
  --md-sys-color-tertiary-fixed: rgb(227 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(198 194 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(15 13 43);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(76 81 84);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 32 35);
  --md-sys-color-surface-container: rgb(44 49 52);
  --md-sys-color-surface-container-high: rgb(55 60 63);
  --md-sys-color-surface-container-highest: rgb(66 71 75);
}
