.dark-medium-contrast {
  --md-sys-color-primary: rgb(174 228 255);
  --md-sys-color-surface-tint: rgb(139 208 239);
  --md-sys-color-on-primary: rgb(0 41 56);
  --md-sys-color-primary-container: rgb(84 153 183);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(202 224 236);
  --md-sys-color-on-secondary: rgb(19 40 49);
  --md-sys-color-secondary-container: rgb(127 148 159);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(220 216 255);
  --md-sys-color-on-tertiary: rgb(36 34 65);
  --md-sys-color-tertiary-container: rgb(144 141 178);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 72 76);
  --md-sys-color-on-surface-variant: rgb(214 221 227);
  --md-sys-color-outline: rgb(171 179 184);
  --md-sys-color-outline-variant: rgb(138 145 150);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(0 78 102);
  --md-sys-color-primary-fixed: rgb(190 233 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 28);
  --md-sys-color-primary-fixed-dim: rgb(139 208 239);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 78);
  --md-sys-color-secondary-fixed: rgb(208 230 242);
  --md-sys-color-on-secondary-fixed: rgb(0 19 28);
  --md-sys-color-secondary-fixed-dim: rgb(180 202 214);
  --md-sys-color-on-secondary-fixed-variant: rgb(37 57 66);
  --md-sys-color-tertiary-fixed: rgb(227 223 255);
  --md-sys-color-on-tertiary-fixed: rgb(15 13 43);
  --md-sys-color-tertiary-fixed-dim: rgb(198 194 234);
  --md-sys-color-on-tertiary-fixed-variant: rgb(53 51 83);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(64 69 72);
  --md-sys-color-surface-container-lowest: rgb(4 8 10);
  --md-sys-color-surface-container-low: rgb(25 30 33);
  --md-sys-color-surface-container: rgb(35 41 43);
  --md-sys-color-surface-container-high: rgb(46 51 54);
  --md-sys-color-surface-container-highest: rgb(57 62 65);
}
